<?xml version="0.0" ?>
<robot name="cube.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="0.3"/>
      <stiffness value="10000.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="-8.6736E-19 0 -3.4694E-18"/>
       <mass value="0.0045946"/>
       <inertia ixx="2.7462E-07" ixy="0" ixz="0" iyy="2.7462E-07" iyz="0" izz="5.1689E-07"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cy.STL" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cy.STL" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>